{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->

<form method="POST" action="/movies">
    <!-- movie name -->
    <div class="form-group">
        <label for="movieName">Movie Name</label>
        <input type="text" class="form-control" id="movieName" name="movieName" required>
    </div>

    <!-- director -->
    <div class="form-group">
        <label for="director">Director</label>
        <input type="text" class="form-control" id="director" name="director" required>
    </div>

    <!-- rating from 1-5 -->
    <div class="form-group">
        <label for="rating">Rating (1-5)</label>
        <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
