{% extends '_layout.html' %}

{% block title %}Movie Rating App | Movie{% endblock %}

{% block body %}
<h1 class="mb-5"></h1>

<!-- TODO: Feature 4 -->

<!-- Movie Details -->
<p>Director: {{ movie.director }}</p>
<p>Genre: {{ movie.genre }}</p>
<p>Release Year: {{ movie.release_year }}</p>

<!-- Edit and Delete Buttons -->
<a href="{{ url_for('get_edit_movies_page', movie_id=movie.id) }}" class="btn btn-primary">Edit</a>
<form action="{{ url_for('delete_movie', movie_id=movie.id) }}" method="post" style="display:inline;">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}
